@import "@/styles/variables.module.scss";

.container {
    // background-color: pink;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 20px;

    .condition-bar {
        border-bottom: 1px solid $basic-color-2;
        padding: 12px 10px;
        color: $basic-color-3;
        .condition-title {
            font-weight: bolder;
            margin-right: 20px;
        }
        .condition {
            margin-right: 2px;
            padding: 4px 8px;
            cursor: pointer;
            white-space: nowrap;
            font-size: 12px;
        }
        .condition-active {
            @extend .condition;
            color: #fff;
            background-color: $primary;
            border-radius: 4px;
        }
        .sort-condition-bar {
            margin-right: 40px;
            display: block;
            margin-bottom: 12px;
        }
    }
}

@media (min-width: 770px) {
    .container {
        .condition-bar {
            .condition {
                margin-right: 16px;
            }
            .sort-condition-bar {
                margin-right: 40px;
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }
}
