@import "@/styles/variables.module.scss";

.container {
    // background-color: pink;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 260px);
    grid-gap: 10px;

    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.video-item-box {
    // background-color: yellow;
    margin-bottom: 20px;
}

@media (min-width: 770px) {
    .container {
        justify-content: space-between;
        max-width: 1200px;
        width: 100%;
    }
}
